body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
}

button { 
    padding: 10px;
    color: black;
    border-radius: 15px;

}
button:hover{
    background-color: rgba(0, 225, 255, 0.808);
}

div {
    padding: 20px;
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
}